<div class="list">
  <div class="item item--add">
    <p class="item__name">Joaquim Moreira</p>
    <p class="item__age">90 anos</p>
  </div>
  <div class="item item--highlighted">
    <p class="item__name">Joaquim Moreira</p>
    <p class="item__age">90 anos</p>
  </div>
  <div class="item item--add">
    <p class="item__name">Joaquim Moreira</p>
    <p class="item__age">90 anos</p>
  </div>
  <div class="item">
    <p class="item__name">Joaquim Moreira</p>
    <p class="item__age">90 anos</p>
  </div>
</div>
