<!-- Adicionar um efeito que ao passar o mouse ele expanda o conteúdo -->
<mat-accordion>
  <!-- Fundamentos I - conteúdo -->
  <mat-expansion-panel togglePosition="before">
    <mat-expansion-panel-header>
      <mat-panel-title> Fundamentos I</mat-panel-title>
      <mat-panel-description>
        Pipes, NG Class, Ng Style, NG For, Cards Components Dinâmicos, Toggle,
        Two Way Data Binding
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Exemplos de Uso </mat-panel-title>
        <mat-panel-description>
          clique para {{ panelOpenState ? "fechar" : "abrir" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h3>PIPES - examples</h3>
      <app-pipes-ex></app-pipes-ex>
      <hr />
      <br />
      <h3>NG CLASS - example</h3>
      <app-ngclass></app-ngclass>
      <hr />
      <br />
      <h3>NG STYLE - example</h3>
      <app-ng-style></app-ng-style>
      <hr />
      <br />
      <h3>NG FOR - example</h3>
      <app-ngfor-component></app-ngfor-component>
      <hr />

      <div class="cards-container">
        <app-card
          [planType]="card.plan.type"
          [planPrice]="card.plan.price"
          [cardStyle]="'orange'"
          (btnClicado)="onCardButtonClicked()"
        ></app-card>

        <app-card
          [planType]="card2.plan.type"
          [planPrice]="card2.plan.price"
          [cardStyle]="'gray'"
          (btnClicado)="onCardButtonClicked()"
        ></app-card>
      </div>
      <!--
<br />
<input
  #meuInput
  type="text"
  (keyup)="handlePlanType(meuInput.value)"
  placeholder="Digite o plano"
/>-->

      <hr />
      <app-ngif-component></app-ngif-component>

      <hr />
      <h3><b>Two Way Data Binding</b></h3>
      <!--
  ngModel -> Input
  ngModelChange -> Output
  [(ngModel)] -> Two Way Data Binding
 -->
      <input type="text" [(ngModel)]="name" placeholder="Nome" />

      <h4>Nome digitado: {{ name }}</h4>
    </mat-expansion-panel>
  </mat-expansion-panel>

  <!-- Fundamentos II - conteúdo -->
  <mat-expansion-panel togglePosition="before">
    <mat-expansion-panel-header>
      <mat-panel-title> Fundamentos II</mat-panel-title>
      <mat-panel-description> Template Variables </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Exemplos de Uso </mat-panel-title>
        <mat-panel-description>
          clique para {{ panelOpenState ? "fechar" : "abrir" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h2>Template Variables</h2>
      <app-temp-variables></app-temp-variables>
      <hr />
      <h2>ViewChild</h2>
      <app-view-child></app-view-child>
      <hr />
      <h2>ViewChildren</h2>
      <app-view-children></app-view-children>
      <hr />
      <h2>Diretivas</h2>
      <!-- COMP X -->
      <p>Sem diretiva</p>
      <app-sem-diretiva></app-sem-diretiva>

      <!-- COMP Y -->
      <app-sem-diretiva></app-sem-diretiva>

      <p>Com diretiva HostBinding + HostListener</p>
      <!-- COMP Z -->
      <app-com-diretiva></app-com-diretiva>
      <p>Property e Attribute Binding</p>
      <button disabled>Meu Botão</button>
      <button [attr.disabled]="true">Meu Botão Attr</button>
      <button [disabled]="true">Meu Botão Prop - Mais usado</button>
      <button appDisabled>Meu Botão Diretiva Prop</button>
      <p style="background-color: orange; color: white">Parágrafo Normal</p>
      <p [attr.style]="'background-color: orange; color: white;'">Par. Attr</p>
      <p [style]="'background-color: orange; color: white;'">Par. Prop</p>
      <p
        [style]="{
    backgroundColor: 'orange',
    color: 'white',}"
      >
        Par. Prop Obj
      </p>
      <p appStyle>Par. Diretiva</p>
      <p>Class Binding</p>
      <p class="meu-texto">Normal</p>
      <p appClass>Class Diretiva</p>
      <p>Listener em Diretiva</p>
      <input appListener />
      <p>Passar parâmetros para Diretiva de Atributo</p>
      <input appInputBackground="blue" tColor="white" />
      <br />
      <!-- Passando o valor direto de uma propriedade do appComponent -->
      <input [appInputBackground]="appCompBgColor" tColor="white" />
    </mat-expansion-panel>
  </mat-expansion-panel>
  <!-- Fundamentos III - conteúdo -->
  <mat-expansion-panel togglePosition="before">
    <mat-expansion-panel-header>
      <mat-panel-title> Fundamentos III</mat-panel-title>
      <mat-panel-description>
        ElementRef + ViewChild e no Componente por injeção, Criar elemento
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Exemplos de Uso </mat-panel-title>
        <mat-panel-description>
          clique para {{ panelOpenState ? "fechar" : "abrir" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h2>ElementRef em Componentes</h2>
      <app-element-ref></app-element-ref>
      <hr />
      <app-element-ref-directive></app-element-ref-directive>
      <hr />
      <app-element-ref-service></app-element-ref-service>
      <hr />
      <app-xss-exemplo></app-xss-exemplo>
      <hr />
    </mat-expansion-panel>
  </mat-expansion-panel>
  <!-- Testes com Jest - conteúdo -->
  <mat-expansion-panel togglePosition="before">
    <mat-expansion-panel-header>
      <mat-panel-title> Testes Unitários</mat-panel-title>
      <mat-panel-description>
        Teste unitário usando Jest
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Exemplos de Uso </mat-panel-title>
        <mat-panel-description>
          clique para {{ panelOpenState ? "fechar" : "abrir" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h2>Aqui o proximo elemento</h2>

      <hr />
    </mat-expansion-panel>
  </mat-expansion-panel>
  <!-- Tópico Futuro - conteúdo -->
  <mat-expansion-panel togglePosition="before">
    <mat-expansion-panel-header>
      <mat-panel-title> Tópico Demo</mat-panel-title>
      <mat-panel-description>
        Descrição do que terá nesse tópico
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Exemplos de Uso </mat-panel-title>
        <mat-panel-description>
          clique para {{ panelOpenState ? "fechar" : "abrir" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h2>Aqui o proximo elemento</h2>
      <app-temp-variables></app-temp-variables>
      <hr />
    </mat-expansion-panel>
  </mat-expansion-panel>
</mat-accordion>

<br />
<app-testes-jest></app-testes-jest>
<hr />
