<div class="cards-container">
  <app-card
    [planType]="card.plan.type"
    [planPrice]="card.plan.price"
    [cardStyle]="'orange'"
    (btnClicado)="onCardButtonClicked()"
  ></app-card>

  <app-card
    [planType]="card2.plan.type"
    [planPrice]="card2.plan.price"
    [cardStyle]="'gray'"
    (btnClicado)="onCardButtonClicked()"
  ></app-card>
</div>
<!--
<br />
<input
  #meuInput
  type="text"
  (keyup)="handlePlanType(meuInput.value)"
  placeholder="Digite o plano"
/>-->

<hr />
<h3><b>Two Way Data Binding</b></h3>
